<app-header></app-header>
<div class="game-detail" [style.background-image]="'url(' + game.background_image + ')'"
    style="background-repeat: no-repeat; background-size: cover; background-position-x: center;">


    <!-- <div class="game-image">
        <img src={{game.background_image}} alt="">
    </div> -->


    <div class="game-description">
        <h2>{{game.name}}</h2>
        <p>Released: {{game.released | date: 'dd.MM.YYYY'}}</p>
        <p>Rating: {{game.metacritic}} / 100</p>
        <p class="description-text">{{game.description}}</p>
        <p>Genres: <span *ngFor="let genre of game.genres; let last = last">{{genre.name}}<span *ngIf="!last">,
                </span></span> </p>


        <p>Platforms: <span *ngFor="let platform of game.platforms; let last = last">{{platform.platform.name}}<span
                    *ngIf="!last">, </span></span></p>
        <!-- <p>{{game.platforms}}</p> -->
        <p>Developer(s): <span *ngFor="let developer of game.developers; let last = last">{{developer.name}}<span
                    *ngIf="!last">, </span></span> </p>
        <p>Publisher(s): <span *ngFor="let publisher of game.publishers; let last = last">{{publisher.name}}<span
                    *ngIf="!last">, </span></span> </p>
        <a href={{game.website}}>Link</a>

        <div class="achievement-container">
            <h3>Achievements: {{game.achievements_count}}
                <span (click)="getAchievements()" class="achievement-link" *ngIf="details.length == 0">Show
                    achievements</span>
                <span (click)="details = []" class="achievement-link" *ngIf="details.length > 0">Hide
                    achievements</span>
            </h3>
            <div class="game-achievements" *ngIf="details.length > 0">
                <div class="game-achievement" *ngFor="let detail of details">
                    <img src="{{detail.image}}" alt="">
                    <h4>{{detail.name}}</h4>
                    <p>{{detail.description}}</p>
                    <p>{{detail.percent}}% of players have this achievement</p>

                </div>
            </div>
        </div>
    </div>

</div>
<div class="btn-container">
    <button mat-raised-button [routerLink]="['']" (click)="rawgService.gameSlug = ''" class="back-btn"><mat-icon
            aria-hidden="false" aria-label="Example arrow_back icon" fontIcon="arrow_back"></mat-icon> Back to Main
    </button>
</div>