<div class="header">
    <div class="header-container">
        <h1 (click)="menuService.backToMain()"> 
            <span class="heading-main">Games</span>  
            <span *ngIf="rawgService.developer.name"> developed by {{rawgService.developer.name}}</span>
            <span *ngIf="rawgService.publisher.name"> published by {{rawgService.publisher.name}}</span>
            <span *ngIf="rawgService.keyword && rawgService.searchMode == true"> Search results {{rawgService.keyword}}</span>
        </h1>
        <div class="search-container">
            <input id="search-game" class="search-input" placeholder="Search for a game" [(ngModel)]="rawgService.gameSlug"
                (keydown)="onKeydown($event)">
            <mat-icon aria-hidden="false" aria-label="Example search icon" fontIcon="search"
                style="color: rgb(62, 62, 62);" class="search-icon" (click)="searchGames()" [routerLink]="['']"></mat-icon>
        </div>

    </div>

</div>