<div class="games-list">
    <div class="game-item" *ngFor="let game of rawgService.games" [routerLink]="['/game-detail', game.id]"
        (click)="rawgService.gameID = game.id">
        <img src="{{game.background_image}}" alt="">
        <h2>{{game.name}}</h2>
        <p>Genres: <span *ngFor="let genre of game.genres; let last = last">{{genre.name}}<span *ngIf="!last">, </span></span> </p>
        <p *ngIf="game.metacritic">Rating: {{game.metacritic}} / 100</p>
        <p>Released: {{game.released | date: 'dd.MM.YYYY'}}</p>
    </div>

    
</div>

<app-footer></app-footer>

<app-paginator></app-paginator>

 <!-- [pageIndex]="rawgService.paginatorPage - 1" -->