:root {
    --dark-gray: rgb(47, 47, 47);

    --bright-gray: rgb(62, 62, 62);

    --dark-blue: rgb(10, 16, 43);

    --dark-violet: rgb(72, 7, 70);

    --bright-violet: rgb(119, 29, 97);

    --orange-highlight: rgb(226, 138, 14);
}


body {
    color: rgb(244, 244, 244);
    font-family: sans-serif;
    background-color: var(--dark-gray);
    margin: 0;
    font-weight: 300;
    padding-bottom: 2em;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.back-btn {
    /* width: 20vw; */
    /* margin: 0 auto; */
    margin-top: 2em;
    display: flex;
    justify-content: flex-start;
    background-color: var(--bright-violet);
    transition: all 0.3s ease-in;
}

.back-btn:hover {
    background-color: orange;
}


.image-wrapper {
    display: inline-block;
    overflow: hidden;
    aspect-ratio: 1;
}
